@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
	background: url(/assets/FundoFolha.png);
}

/*primeira div -> imagens atrás da caixa*/

#cabecalho{
	padding: 1% 1% 1% 1%;
	position: absolute;
	z-index: -1;
}

#forsend {
	margin: 1% 1% 1% 1%;
	width: 14%;
	height: 9%;
}

#ufal {
	margin: 0% 1% 1% 1%;
	width: 8%;
	height: 13%;
	float: right;
}

/*seguda div -> caixa principal*/

#caixa{
	display:flex;
	width: 70%;
	height: 80%;
	margin: 6% 15% 0% 15%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	min-height: 600px;
	position: absolute;
	z-index: 2;
}

#titulo{
	font-size: 3rem;
}

#subtitulo{
	font-size: 1.5rem;
}

.forms {
	font-size: 1.4rem;
	background: linear-gradient(#31508B, #8398BF);
	padding: 2%;
	margin: 0% 0%;
	border-style: outset;
	border-color: #e2e2e2;
	border-color: #31508B;
	border-radius: 0.8em;
}

#caixa a{
	display: block;
}

#caixa a:link, a:visited, a:active{
	text-decoration: none;
	color: white;
}

a:hover {
	background: rgba(0,0,0,0.1);
	color: #DD2418;
}

#sair {
	margin:0% 40%;
	border-radius: 0.5em;
	color: black;
}

/*responsividade*/

@media screen and (max-width: 900px) {
  #caixa {
  	width: 90%;
  	height: 90%;
  	margin: 2.5% 2.5% 3.5% 4.5%;
  }
}

@media screen and (max-width: 600px){
  #subtitulo{
  	font-size: 1.2rem;
  }

  .forms{
  	font-size: 1.2rem;
  }
}