@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body{
    background: white url(/images/FundoFolha.png) no-repeat;
    width: 100%;
    height: 100%;
}

#cabecalho{
    display: flex;
    align-items: center;
}

#forsend{
    width: 12em;
    height: 3em;
    margin: 2em;
}

#ufal{
    width: 5em;
    height: 5em;
    margin: 2em;

}

#grow{
    flex-grow: 5;
}

#caixa{
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#titulo{
    position: relative;
    bottom: 1em;
    font-size: 3em;
}

#subtitulo{
    font-size: 1.2em;
    position: relative;
    bottom: 2em;
}

.forms{
    width: 50%;
    line-height:250%;
    margin-bottom: 2%;
    margin-top: 0;
    background: #355592;
    font-weight: 400;
    font-size: 120%;
}

.forms:hover{
    background: #355692cb;
}

#sair{
    border: none;
    background: transparent;
    font-size: 120%;
    font-weight: 600;
}

#sair:hover{
    text-decoration: underline;
}

@media(max-width: 500px) {
    .forms{
        width: 80%;
        font-size: 80%;
    }

    #subtitulo{
        font-size: 80%;
        position: relative;
        bottom: 2em;
    }

    #titulo{
        position: relative;
        bottom: 1em;
        font-size: 200%;
    }

    #caixa{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 10em;
     }
}
