@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*CONFIGURAÇÕES GLOBAIS*/
body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(164.92deg, #31508B 31.08%, rgba(72, 88, 210, 0.69) 119.53%);
    background-attachment: fixed;
    min-height: 100%;
}

/* BOTAO */
.botao-acessar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    background: #EEEBEB;
    color: #31508B;
    font-size: 1.5rem;
    border-radius: 10px;
    line-height: 90%;
}

.botao-acessar:hover{
    color: #fff;  
    background: #dd2518bd;  
}
/* FIM CONFIGURAÇÕES GLOBAIS */


/* header */
.header-title{
    clear: both;
    float: center;
}

.header-title h2{
    color: white;
    font-size: 3rem;
    padding: 5px;
}

.logo-wrapper{
    float: left;
    padding:35px;
}

.ufal-logo{
    float: right;
    padding: 27px;
}

/* PERFIL */
.perfis-container {
    height: 60%;
}

.perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1rem;
    height: 15rem;
    width: 10rem;
    text-align: center;
}

.perfil p {
    color: white;
    font-size: 1.5rem;
}

.circle {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin: 1em;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 3rem;
    text-align: center;
    color: white;
}

.caixa{
    padding-left: 380px ;
    padding-right: 380px ;
   
}


.personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }

  .personal-figure {
    position: relative;
    width: 120px;
    height: 120px;
  }

  .personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }

  personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 32.5px;
    width: 50px;
    height: 50px;
  }



  

  
