@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*CONFIGURAÇÕES GLOBAIS*/
body {
    font-family: 'Inter', sans-serif;
    /* background: linear-gradient(164.92deg, #31508B 31.08%, rgba(72, 88, 210, 0.69) 119.53%); */
    background: white url(/images/FundoFolha.png) no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* BOTAO */
.botao-acessar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    background: #EEEBEB;
    color: #31508B;
    font-size: 1.5rem;
    border-radius: 10px;
    line-height: 90%;
}

.botao-acessar:hover{
    color: #fff;
    background: #dd2518bd;
  }

/*START HEADER*/
#dash-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#dash-header h2{
    color: black;
    font-size: 3rem;
}

/*END HEADER*/

/* START FOOTER */
footer {
    margin-top: 2rem;
    text-align: center;
    color: black;
}
/*END FOOTER*/

/* SIDEBAR */
.sidebar {
    position: fixed;
    background-color: white;
    padding: 15px;
    max-width: 210px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .botao-acessar {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* wrapper do perfil: imagem, nome */
.perfil-dash {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* border: solid; */
    width: 95%;
    margin-top: 2rem;
}

.perfil-dash .circle {
    flex-shrink: 0;
    background-color: #afaaaa;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.perfil-dash a {
    width: 100%;
}
/* END SIDEBAR */

.linkBtn {
    text-decoration: none;
}

/* wrapper da tabela */
.tabela {
    background-color: white;
    margin-top: 3rem;
    min-height: 15rem;
    padding: 2rem;
}

/* TABELA IPSA START */
.outer {
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.outer div {
    display: table-cell;
    padding: 5px;
}

.outer :first-child, .outer :last-child {
    width: 10rem;
    background: #f7f7f7;
}

.outer :last-child {
    padding-left: 30px;
}

.middle {
    white-space: nowrap;
    overflow: hidden;
}

.middle .linkBtn {
    display: inline;
    text-decoration: none;
    border: none;
    padding: 0;
    width: 3rem;
}

/* TABELA IPSA END */

.container  {
    margin-top: 0;
    text-align: center;
}

main  {
    margin-left: 200px;
    padding: 1px 16px;
    /* min-height: 1000px; */
}
.content {
    background-color: white;
    padding: 1rem;
    width: 100%;
    margin: auto;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    -webkit-box-shadow: -1px -1px 10px -5px #000000;
box-shadow: -1px -1px 10px -5px #000000;
}

.form-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 1rem;
}

#submit-search {
    background-color: #dd2518bd;
    color: white;
}

.dropdown {
    text-align: center;
}

#dropdownMenuButton1 {
    background-color: #31508B;
    width: 100%;
}

.centralizar{
    width: 100%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    /* width: 100%; */
    width: 95%;
    height: 80%;
    overflow: auto;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1rem;
    /* grid-template-rows: auto; */
    background-color: white;
    padding: 0.5rem;

}

.grid-cell {
    border: solid 2px;
    border-color: rgb(243 244 246);
    border-radius: 5px;
    background-color: rgb(249, 250, 251);
}

ul {
    list-style-type: none;
}

li {
    margin: 0.5rem;
}

.open-form-button {
    border: none;
    min-width: 30%;
    background-color: #31508B;
    color: white;
}

.open-form-button:rover {
    background-color: darkred;
    color: white;
}

.status {
    padding: 0.2rem;
    border-radius: 10%;
    color: white;
    background-color: black;
}

.status-recebido {
    background-color: #f9e507;
}

.status-enviado {
    background-color: #2196F3;
}

.status-concluido {
    background-color: #4CAF50;
}

.status-indeferido {
    background-color: #dd2518bd;
}

.lista-modal {
    font-size: larger;
}

.modal-dialog .dropdown {
    display: inline;
}

#botao-drop {
    float: inline-end;
    background-color: #31508B;
    font-size: 1rem;
    color: white;
}

.icon-link {
    text-decoration: none;
    color: black;
    margin: 5px;
}

button.icon-link {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.icon-link:hover {
    text-decoration: underline;
    color: inherit;
}

.no-forms {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 30%;
}

.lista-form {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
}

.email-container {
    text-align: center;
}

.status-wrapper {
    padding:1rem;
}

.full-link {
    display:block;
    border-radius: 10px;
    line-height: 90%;
    width: 100%;
    text-align: center;
    margin: 1rem;
}

.hidden-form {
    background-color: white;
    text-align: justify;
    border: solid 2px;
    border-color: rgb(243 244 246);
    border-radius: 5px;
    padding: 1rem;
    width: 70%;
}
.form-group {
    padding: 1rem;
}

#hidden-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blank-link {
    color:black;
    text-decoration:none;
}

.blank-link:hover {
    color: black;
    text-decoration: underline;
}
