body {
	background: #edfff9;
	background: #c2cdf9;
}

form {
	font-size: 25px;
	text-align: left;
	margin-left: 170px;
}

#caixa{
	width: 1000px;
	height: 600px;
	margin: 3.5% auto;
	background: #f4fcf3;
	background: #f7f9f9;
	text-align: center;
	/*box-shadow: 20px 20px 10px white;*/
	border-width: 6px;
	border-style: outset;
}

#caixa2{
	width: 900px;
	height: 600px;
	margin: 3.5% auto;
	background: linear-gradient(#ebefed, white);
	text-align: center;
	border-width: 6px;
	border-style: outset;
}

#titulo{
	margin: 0px 80px;
	padding: 0 0 50px 0;
}

.campoF {
	width: 500px;
	text-align: left;
	margin-bottom: 15px;
	font-size: 20px;
}

#enviar {
	font-size: 20px;
	background: #86ffff;
	background: #768cf5;
	border-radius: 7px;
	padding: 5px 20px;
	border-style: outset;
	border-color: #6ce6ff;
	border-color: #768cf5;
	position: absolute;
	top: 600px; 
	right: 550px; /* Troquei para 550px pq o botao tava fora da caixa (antes 350px) - Vinícius*/
}

input[type="file"] {
   /* display: none;*/
   position: absolute;
   z-index: 1;
   font-size: 10px;
}
label {
	font-size:15px;
    padding: 10px 10px;
    width: 200px;
    background-color: #e2e2e2;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    border-style: outset;
    position: absolute;
    z-index: 2;
}
a {
	text-align: right;
	padding: 15px 18px 0px 0px;
	display: block;
	cursor: pointer;
}

a:link, a:visited, a:active{
	text-decoration: none;
	color: #000000;
}

#arquivo1{
	top: 490px;
	right: 704px;
}

#arquivo2{
	top: 540px;
	right: 704px;
}

#arquivo3{
	top: 590px;
	right: 704px;
}

#arquivo4{
	top: 640px;
	right: 704px;
}

#arq1{
	top: 470px;
}

#arq2{
	top: 520px;
}

#arq3{
	top: 570px;
}

#arq4{
	top: 620px;
}


