@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
	background: url(/assets/FundoFolha.png);
}

#cabecalho{
	padding: 1% 1%;
	position: absolute;
	z-index: -1;
}

#caixa{
	display:flex;
	width: 70%;
	height: 80%;
	margin: 6% 15% 0% 15%;
	text-align: center;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	/*border-style: outset;*/
	min-height: 350px;
	position: absolute;
	z-index: 2;
}

#titulo{
	font-size: 3rem;
	/*flex-basis: 100px 100px;*/
	margin: 0% 0%;
}

#subtitulo{
	font-size: 1.5rem;
	margin: 0% 0%;
}

.forms {
	font-size: 1.4rem;
	background: linear-gradient(#31508B, #8398BF);
	padding: 2%;
	margin: 0% 0%;
	border-style: outset;
	border-color: #e2e2e2;
	border-color: #31508B;
	border-radius: 8px;
}

a{
	display: block;
}

a:link, a:visited, a:active{
	text-decoration: none;
	color: white;
}

a:hover {
	background: rgba(53, 85, 146, 0.4);
	background: rgba(0,0,0,0.1);
	color: #DD2418;
}



#sair {
	margin:0% 40%;
	border-radius: 5px;
	color: black;
}

#ufal {
	margin: 1% 0% 0% 0%;
	width: 8%;
	height: 13%;
	float: right;
}

#forsend {
	margin: 1% 1% 0% 0%;
	width: 14%;
	height: 9%;
}

@media screen and (max-width: 900px) {
  img {
  	display: none;
  }

  #caixa {
  	width: 95%;
  	height: 95%;
  	margin: 0% 0%;
  }
}

@media screen and (max-width: 900px) and (max-height: 400px)  {
  #subtitulo{
  	font-size: 1rem;
  }

  .forms{
  	font-size: 1.2rem;
  }
}