.flash-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    /*color: #155724;*/
    color: white;
    /*background-color: #D4EDDA;*/
    background-color: #f45044bd;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}