.container-css{
  width: 100vw;
  height: 100vh;
}

.caixa-branca{
  width: 55%;
  height: 100%;
  background: white url(/assets/FundoFolha.png) no-repeat;
}

.caixa-azul{
  width: 45%;
  height: 100%;
  background: linear-gradient(164.92deg, #31508B 31.08%, rgba(72, 88, 210, 0.69) 119.53%);
} 

.acesso-admin{
  width: 80%;
  height: 30%;
}

.titulo-entidade{
  font-weight: 800px;
  font-size: 25px;
  line-height: 39px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 15px 0px 0px 0px;
  }

.dados{
    font-weight: 600px;
  line-height: 18px;
  
  color: #13161f;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 55%;
  

}

.form-senha{
  width: 80%;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(45px);
  border-radius: 5px;
}

input:active{
  border: 1px solid rgba(255, 255, 255, 0.)
}

.botao-acessar{
  width: 38%;
  background: #EEEBEB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
  border-radius: 10px;
  line-height: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #31508B;

}
.botao-acessar:hover{
  color: #fff;  
  background: #dd2518bd;  
}
a{
  font-size: 16px;
  color: black;
}

a:hover{
  font-size: 13px;
  color: #fff;
}

.esquecer{
  margin-left: 70px;
}

.modal-id{

  width: 800px;
  height: 400px;
  background-color: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgb(37, 37, 37);
}

.fechar{

  width: 50px;
  height: 30px;
  background-color: #dd2418;
  /*border-radius: 50%; - ARRENDODAR O BOTAO X*/ 
  float: right;
  cursor: pointer;
  text-align: center;
  /*border: black;*/
}


.chave{
  text-align: center;
  width: 150px;
  height: 30px;
  position: absolute;
    top: 73%;
    left: 45%;
    transform: translate(-50%, -50%);
  
    background: #e9e5e5;
    border: 0px;
    border-radius: 5%;
}

.ok{
  width: 40px;
  height: 30px;
  
  position: absolute;
    top: 73%;
    left: 58%;
    transform: translate(-50%, -50%);

    background: lightblue;
    border:0px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
}

.ok:hover{
  background: lightcoral;
  text-decoration: none;
  font-size: 16px;
}

.texto-modal{
  text-align: center;
  position: absolute;
    top: 35%;
    left: 15%;
}

/* <!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link href="/bootstrap5.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet" />
    <title>Acesso Aluno</title>
  </head>
  <body>
    <div class="container-css d-flex flex-row">
      <div
        class="caixa-branca justify-content-center d-flex align-items-center flex-column"
      >
        <h1 class="display-1 center d-block">ForsendIC</h1>
        <p class="lead d-block" style="width: 400px; text-align: center">
          Controle de envio de formulários do Instituto de Computação da UFAL
        </p>
      </div>
      <div class="caixa-azul d-flex justify-content-center align-items-center">
        <div class="acesso-admin">
          <a href="/Inicio/index.html">
            <svg
  
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-arrow-left-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
              />
          </a>
          </svg>
          <p class="titulo-entidade">Acesso Aluno</p>
          <p class="dados">Informe seu e-mail institucional</p>
          <form>
            <input
            type="email" class=" form-email form-control mb-3" id="exampleFormControlInput1" placeholder="nome@ic.ufal.br" name="email"
            />
            <button class="botao-acessar btn" type="submit">Solicitar chave</button>
          </form>
        </div>
      </div>
    </div>

    <script src="/bootstrap5.1.3/js/bootstrap.min.js"></script>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    /> */