.container-css{
  width: 100vw;
  height: 100vh;
}

.caixa-branca{
  width: 55%;
  height: 100%;
}

.caixa-azul{
  width: 45%;
  height: 100%;
  background: #DCE6F2;
}

.acesso-admin{
  width: 80%;
  height: 30%;
}

.titulo-entidade{
  font-size: 30px;
  margin: 15px 0px 0px 0px;
}

.dados{
  color: black;
  font-size: 15px;
  width: 60%;

}

.form-email{
  width: 80%;
  background: rgba(196,196,196,48%)
}

.botao-acessar{
  width: 40%;
  background: #435AD9;
  color: white;
  font-size: 18px;

}
.botao-acessar:hover{
  height: 42px;
  background: #435ad9c9;
  color: white;
}
a{
  font-size: 12px;
  color: black;
}

a:hover{
  font-size: 13px;
  color: #435AD9;
}

.esquecer{
  margin-left: 40px;
}