body {
    margin: 0;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: g#f1f1f1;
    overflow: auto;
    text-align: center;
}



.content  {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 400px) {
    .sidebar div {
        text-align: center;
        float: none;
    }
}

.linkBtn {
    text-decoration: none;
    border: none;
}