body {
    font-family: Inter, sans-serif;
}

header {
    /*background-color: #DDF4F482;*/
    background-image: linear-gradient(to right, #435AD9, #EE5F5F);
    height: 4rem;
    text-align: center;
}

header > h1 {
    margin: auto;
}

footer {
    margin-top: 3rem;
    text-align: center;
}

nav {
    margin-bottom: 5em;
}

a {
    text-decoration: none;
    color: white;
}

.tabela {
    margin-top: 3rem;
}

.outer {
    text-align: center;
    display: table; 
    table-layout: fixed; 
    width: 100%;
}

.outer div {
    display: table-cell; 
    padding: 5px;
}

.outer :first-child, .outer :last-child {
    width: 10rem; 
    background: #f7f7f7;
}

.outer :last-child {
    padding-left: 30px;
}

.middle {
    white-space: nowrap;
    overflow: hidden;
}

.middle .linkBtn {
    display: inline;
    text-decoration: none;
    border: none;
    padding: 0;
    width: 3rem;
}


.perfil {
    margin: 1rem;
    height: 15rem;
    width: 10rem;
    text-align: center;
}

.perfil p {
    font-size: 1.5rem;
}

.circle {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin: 1em;
    text-align: center;
}

.container  {
    margin-top: 0;
    text-align: center;
}


/*pedro mexeu daqui pra baixo*/

.azul{
    color: blue;
}

.branco{
    color: white;
    padding: 1px;
}

footer {
    margin-top: 10rem;
}

.caixa_profilePage1{
    float: left;
    padding:35px;
}

.caixa_profilePage2{
    clear: both;
    float: center;
}

.caixa_profilePage3{
    float: right;
    padding: 27px;
}

#fundo_profilePage{
    background-image: linear-gradient(to bottom right, #1831b9, rgb(182, 182, 245));
}
