body {
    font-family: Inter, sans-serif;
}

header {
    display: flex;
    /*background-color: #DDF4F482;*/
    background: linear-gradient(164.92deg, #31508B 31.08%, rgba(72, 88, 210, 0.69) 119.53%);

    /* background-image: linear-gradient(to bottom right, #1831b9, rgb(182, 182, 245)); */
    height: 4rem;
    align-items: center;
    justify-content: center;
}




footer {
    margin-top: 3rem;
    text-align: center;
}

nav {
    margin-bottom: 5em;
}

a {
    text-decoration: none;
    color: white;
}

.tabela {
    margin-top: 3rem;
}

.outer {
    text-align: center;
    display: table; 
    table-layout: fixed; 
    width: 100%;
}

.outer div {
    display: table-cell; 
    padding: 5px;
}

.outer :first-child, .outer :last-child {
    width: 10rem; 
    background: #f7f7f7;
}

.outer :last-child {
    padding-left: 30px;
}

.middle {
    white-space: nowrap;
    overflow: hidden;
}

.middle .linkBtn {
    display: inline;
    text-decoration: none;
    border: none;
    padding: 0;
    width: 3rem;
}


.perfil {
    margin: 1rem;
    height: 15rem;
    width: 10rem;
    text-align: center;
}

.perfil p {
    font-size: 1.5rem;
}

.circle {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    margin: 1em;
    text-align: center;
}

.container  {
    margin-top: 0;
    text-align: center;
}


/*pedro mexeu daqui pra baixo*/

.azul{
    color: blue;
}

.branco{
    color: white;
    padding: 1px;
}

footer {
    margin-top: 10rem;
}

.caixa_profilePage1{
    float: left;
    padding:35px;
}

.caixa_profilePage2{
    clear: both;
    float: center;
}

.caixa_profilePage3{
    float: right;
    padding: 27px;
}

#fundo_profilePage{
    background: linear-gradient(164.92deg, #31508B 31.08%, rgba(72, 88, 210, 0.69) 119.53%);
    /* background-image: linear-gradient(to bottom right, #1831b9, rgb(182, 182, 245)); */
}

.botao-cores-azul {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #31508B;
    color: #EEEBEB;
}

.botao-cores-azul:hover {
    color:#31508B;
    background-color: #EEEBEB;
}

.botao-cores {
    box-shadow: 0px 4px 4px 0px #00000040;
    color:#31508B;
    background-color: #EEEBEB;
}

.botao-cores:hover {
    background-color: #31508B;
    color: #EEEBEB;
}